	<section id="risico">
		<h1>Risco analyse</h1>
		<h3>Risico op een zware maatregel</h3>
		<p>100%</p>
		<p>0 - 2%: Laag risico</p>
		<p>2 - 5%: Middelmatig risico</p>
		<p>5% en hoger: Hoog risico</p>
	</section>
{{yield}}
<script src="assets/general.js"></script>