	<nav>
		<img src="/assets/logo.png" alt="logo">
		<h2>Risico indicatie</h2>
		<ul>
			<li>{{#link-to "introductie" }}
    			 Introductie
  				 {{/link-to}}</li>
			<li>{{#link-to "dashboard" }}
    			 Risico Analyse
  				 {{/link-to}}</li>
			<li><a href="#">Over</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<div class="flex">
			<img id="user" src="assets/user.png" alt="user">
			<p id="down">Gebruiker</p>
		</div>
	</nav>
{{yield}}