	<section id="risico">
		<h1>Risco analyse</h1>
		<h3>Risico op een zware maatregel</h3>
		<h2 id="risk_num">0%</h2>
		<p>0 - 2%: Laag risico</p>
		<p>2 - 5%: Middelmatig risico</p>
		<p>5% en hoger: Hoog risico</p>
		<p> Dit gaat goed :</p>
		<p> Dit kan verbeterd worden :</p>
	</section>
{{yield}}