	<nav>
		<img src="/assets/logo.png" alt="logo">
		<h2>Risico indicatie</h2>
		<ul>
			<li><a href="#">Introductie</a></li>
			<li><a href="#">Risico analyse</a></li>
			<li><a href="#">Over</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
{{yield}}