	<div class="riskanalys">
{{dashboard-risk }}
		<section class="category">
			<h1>Algemeen</h1>
			<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
		</section>

		<section class="category">
			<h1>Werk en opleiding</h1>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
		</section>

		<section class="category">
			<h1>Huishouding</h1>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
		</section>

		<section class="category">
			<h1>Gezondheid</h1>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
		</section>

		<section class="category">
			<h1>ADL</h1>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
		</section>

		<section class="category">
			<h1>Sociaal</h1>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
				<h5>Geslacht</h5>
			<select>
				<option>Iets Anders</option>
				<option>Iets</option>
			</select>
		</section>


		{{!-- <section id="tabs">
			<p>Algemeen</p>
			<p>Tijdsbesteding</p>
			<p>Huisvesting</p>
			<p>Huiselijke relaties</p>
			<p>Geestelijke gezondheid</p>
			<p>Lichamelijke gezondheid</p>
			<p>Middelengebruik</p>
			<p>Basale ADL</p>
			<p>Instrumentale ADL</p>
			<p>Sociaal netwerk</p>
			<p>Maatschappelijke participatie</p>
			<p>Justitie</p>

		</section> --}}
	</div>
	
{{yield}}