	<section id="risico">
		<h1>Risco analyse</h1>
		<h3>Risico op een zware maatregel</h3>
		<h2 id="risk_num">0%</h2>
		<p>0 - 2%: Laag risico</p>
		<p>2 - 5%: Middelmatig risico</p>
		<p>5% en hoger: Hoog risico</p>
		<p id="green"> Dit gaat goed :</p>
		<ul class="left">
			<li class="no-height"></li>
			<li class="no-height"></li>
		</ul>
		<p id="red"> Dit kan verbeterd worden :</p>
		<ul class="left">
			<li class="no-height"></li>
			<li class="no-height"></li>
		</ul>
	</section>
{{yield}}