.riskanalys {
	display: flex;
	flex-wrap: wrap;
}

#risico {
	width: 25em;
	height: 28em;
	border-radius: .3em;
	background-color: #ffffff;
	margin: 1em;
	box-shadow: 2px 2px #718093;
}

.category {
	width: 25em;
	height: 28em;
	border-radius: .3em;
	background-color: #ffffff;
	margin: 1em;
	box-shadow: 2px 2px #718093;
}

select {
	margin-left: 10px;
	width: 20em;
	height: 2em;
	border-radius: .3em;
}

select:active {
	border: #273c75;
	outline: 0;
}

select:hover {
	background-color: #f5f6fa;
}

h1, h2, h3, h5, p {
	text-align: left;
	line-height: 2em;
	margin-left: 10px;
}

#risk_num {
	text-align: left;
	line-height: 2em;
	margin-left: 10px;	
	color: #000000;
}

#green {
	color: green;
}

#red {
	color: red;
}

.left {
	margin-left: 2em;
}

.no-height {
	line-height: 1em;
}

.no-height:hover {
	background-color: white;
	cursor: none;
}